.murmur-overlay .modal-dialog-content-box {
  max-width: 34em;
}

.murmur-header {
  spacing: 12px;
  width: 34em;
}

.murmur-status {
  font-weight: bold;
}

.murmur-countdown {
  font-feature-settings: "tnum";
  font-weight: bold;
}

.murmur-scroll {
  -st-vfade-offset: 2em;
  max-height: 24em;
  max-width: 34em;
  min-height: 5em;
  width: 34em;
}

.murmur-text {
  font-size: 1.2em;
  padding: 10px 0;
}

.murmur-hint {
  font-size: 0.9em;
  opacity: 0.7;
}
